<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지해의 복권방 - 1등 판매점 확인</title>
    <script src="/js/test-4.js" defer></script>
    <link rel="stylesheet" href="/css/test-4.css">
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cf687aa6d2335104391f64c059641564&libraries=services"></script>
</head>
<body>

<header th:replace="~{header.html}"></header>

<div class="container">
    <div class="card">
        <div style="display: flex; align-items: center;">
            <img src="/image/store.png" alt="test" style="height: 26px; margin-right: 10px;">
            <h2 id="store-info" style="margin: 0;">1등 배출 판매점</h2>
        </div>
        <ul class="store-list">
<!--            js로 동적으로 추가됨-->
        </ul>
    </div>
</div>

<!-- 지도 모달 창 -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-btn">&times;</span>
        <!-- 지도 표시 -->
        <div id="map" style="width: 700px; height: 550px;"></div>
    </div>
</div>

</body>
</html>