<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지해의 복권방</title>
    <script src="/js/test.js" defer></script>
    <link rel="stylesheet" href="/css/test.css">
</head>
<body>

<header th:replace="~{header.html}"></header>

<div class="container">
    <div class="cards-container">
        <div class="card">
            <h2><i class="fas fa-random"></i> 로또번호 생성</h2>
            <button id="main-button" class="main-button" onclick="generateNumbers()">번호 생성하기</button>
<!--            <img id="loading-bar" src="/image/loading-spin.gif">-->
            <div class="numbers-container" id="generated-numbers">
                <!-- 번호는 JavaScript로 생성됨 -->
            </div>
        </div>

        <div class="card">
            <h2><i class="fas fa-trophy"></i> 최근 당첨번호</h2>
            <p id="drawNum"><strong>${drawNum}회 당첨결과</strong> (2024.03.16 추첨)</p>
            <div class="numbers-container">
                <div class="number red" id="winningNum1"></div>
                <div class="number red" id="winningNum2"></div>
                <div class="number red" id="winningNum3"></div>
                <div class="number red" id="winningNum4"></div>
                <div class="number red" id="winningNum5"></div>
                <div class="number red" id="winningNum6"></div>
                <div class="number-operator">+</div>
                <div class="number yellow" id="bonusNum"></div>
            </div>
            <p id="firstPrizeAmount">1등 당첨금: ${firstPrizeAmount}</p>
        </div>

        <div class="card">
            <h2><i class="fas fa-users"></i> 사용자 당첨 기록</h2>
            <!-- 드롭다운 추가 -->
            <div class="dropdown-section">
                <label for="draw-selection">회차 선택:</label>
                <select id="draw-selection">
                    <!-- JavaScript로 옵션 추가 -->
                </select>
            </div>

            <div class="user-record-info">
                <div class="user-record">
                    <!-- js로 추가 -->
                </div>
            </div>
        </div>

        <div class="card">
            <h2><i class="fas fa-chart-bar"></i> 당첨 통계</h2>
            <p class="draw-num"> 회차 당첨 결과</p>
            <table class="result-table">
                <tr>
                    <th>등수</th>
                    <th>당첨자 수</th>
                    <th>당첨금</th>
                </tr>
                <tr>
                    <td class="lotto-rank"></td>
                    <td class="winner-count"></td>
                    <td class="prize-amount"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>