<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지해의 복권방 - 1등 판매점 확인</title>
    <script src="/js/test-4.js" defer></script>
    <link rel="stylesheet" href="/css/test-4.css">
</head>
<body>

<header th:replace="~{header.html}"></header>

<div class="container">
    <div class="card">
        <div style="display: flex; align-items: center;">
            <img src="/image/store.png" alt="test" style="height: 26px; margin-right: 10px;">
            <h2 id="store-info" style="margin: 0;">1등 배출 판매점</h2>
        </div>
        <ul class="store-list">
<!--            js로 동적으로 추가됨-->
        </ul>
    </div>
</div>
</body>
</html>